* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff1f1;
}

.login-container {

    width: 850px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.login-image {
    background: #b5121b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-image i {
    font-size: 100px;
    margin-bottom: 20px;
}

.login-image h1 {
    font-size: 40px;
}

.login-image p {
    margin-top: 10px;
}

.login-form {
    padding: 60px 45px;
}

.login-form h2 {
    font-size: 32px;
}

.login-form > p {
    color: #777;
    margin: 10px 0 30px;
}

label {
    display: block;
    margin: 15px 0 8px;
    font-weight: bold;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid rgb(187, 174, 174);
    border-radius: 8px;
    padding: 12px;
}

.input-box i {
    color: #b5121b;
    margin-right: 10px;
}

.input-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #b5121b;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #8f0d15;
}

.register-text {
    text-align: center;
    margin-top: 25px;
}

.register-text a {
    color: #b5121b;
    font-weight: bold;
    text-decoration: none;
}


@media(max-width:700px) {

    .login-container {
        width: 95%;
        grid-template-columns: 1fr;
    }

    .login-image {
        padding: 40px;
    }

}